// sidebar
$menuText:#bfcbd9;
$menuActiveText:#ffd04b;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #2c2c34; // 菜单整体背景
$menuHover:#3F4FA2; // 菜单悬浮变色

$subMenuBg: #161623; // 子菜单背景
$subMenuHover: #2b3171; // 子菜单悬浮背景

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
